<% provide(:title, "Edit user") %>

<h1> Update your profile </h1>
<% provide(:button_text, 'create My account'%>

<%= render 'shared/user_form' %>

<div class="gravatar_edit">
  <%= gravatar_for @user%>
  <a href="http://gravatar.com/emails" target="_blank">
    change</a>
</div>
